<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principla</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://kit.fontawesome.com/8623f200e5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Peralta&display=swap" rel="stylesheet">


</head>
<body>

    {{>_menu}}

    <main>
        <input id="path" type="hidden" value={{User.avatarPath}}>

        <h1>{{User.nome}}</span></h1>
        
        <div id="perfil">
            <div id="animacao">
                {{#if User.avatarPath}}
            
                {{else}}
                    <img src="/img/avatares/anonimo.png" alt="foto aqui">
                {{/if}}
            </div>
            <div id="info">
                <h3>Recorde fácil: <span>{{User.recordeFacil}}</span></h3>
                <h3>Recorde médio: <span>{{User.recordeMedio}}</span> </h3>
                <h3>Recorde difícil: <span>{{User.recordeDificil}}</span> </h3>
                <h3>Recorde hard: <span>{{User.recordeHard}}</span> </h3>
                <a href="/game/escolherAvatar"><button>Mudar avatar</button></a>
                <button id="mudarNome">Mudar nome</button>
            </div>
        </div>

        <div id="card">
            <button id="x"><i class="fa-solid fa-x"></i></button>
            <form action="/game/mudarNome/{{User._id}}" method="post">
                <label for="inome">Escolha um novo nome:</label><br>
                <input type="text" name="nome" id="inome" required maxlength="10"><br>
                <input type="submit" value="Mudar nome">
            </form>
        </div>
    </main>

    <script>
        const caminho = document.getElementById('path').value
        const x = document.getElementById("x")
        const card = document.getElementById("card")
        const button = document.getElementById("mudarNome")

        button.addEventListener("click", () => {
            card.style.display = "block";

        })

        x.addEventListener("click", () => {
            card.style.display = "none"
        })

        if(caminho != "null"){
            lottie.loadAnimation({
                container: document.getElementById('animacao'),
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: caminho
            })
        }
    </script>

    <script src="/modo_escuro.js"></script>

</body>
</body>
</html>