<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principla</title>
    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="https://kit.fontawesome.com/8623f200e5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>

</head>
<body>

    {{>_menu}}

    <main>
        <input id="path" type="hidden" value={{User.avatarPath}}>
        
        <div id="animacao">
            {{#if User.avatarPath}}
                
            {{else}}
                <img src="/img/avatares/anonimo.png" alt="foto aqui">
            {{/if}} 
        </div>
        <div id="info">
            <h3>Nome: {{User.nome}}</h3>
            <h3>Recorde fácil: {{User.recordeFacil}} </h3>
            <h3>Recorde médio: {{User.recordeMedio}} </h3>
            <h3>Recorde difícil: {{User.recordeDificil}} </h3>
            <h3>Recorde hard:{{User.recordeHard}} </h3>
            <a href="/game/escolherAvatar"><button>Mudar avatar</button></a>
            <button id="mudarNome">Mudar nome</button>
        </div>

        <div id="card">
            <button id="x"><i class="fa-solid fa-x"></i></button>
            <form action="/game/mudarNome/{{User._id}}" method="post">
                <label for="inome">Escolha um novo nome:</label><br>
                <input type="text" name="nome" id="inome" required maxlength="10"><br>
                <input type="submit" value="Mudar nome">
            </form>
        </div>
    </main>

    <script>
        const caminho = document.getElementById('path').value
        const x = document.getElementById("x")
        const card = document.getElementById("card")
        const botao = document.getElementById("mudarNome")

        botao.addEventListener("click", () => {
            card.style.display = "block";

        })

        x.addEventListener("click", () => {
            card.style.display = "none"
        })

        if(caminho != "null"){
            lottie.loadAnimation({
                container: document.getElementById('animacao'),
                renderer: 'svg',
                loop: true,
                autoplay: true,
                path: caminho
            })
        }
    </script>

</body>
</body>
</html>